<!DOCTYPE html>
<html>
	<head>
		<meta charset="{+IO.encoding+}" />
		<meta name="generator" content="JsDoc Toolkit" />
		<title>{+data.subtitle+} | <if test="JSDOC.opt.D.title">{+JSDOC.opt.D.title+}<else />JsDoc Reference</if></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" /> 
		<meta name="mobileoptimized" content="1" />
	
		<link rel="stylesheet" href="{+Link.base+}css/all.css" />
		<link rel="stylesheet" href="{+Link.base+}css/screen.css" />
		
		<script src="{+Link.base+}javascript/puredom.light.js"></script>
		<script src="{+Link.base+}javascript/all.js"></script>
		<!--[if lt IE 9]>
			<script src="{+Link.base+}javascript/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<div id="bodywrap">